*{
    font-family: 'Tajawal', sans-serif;
    background-color: rgb(253, 253, 253);
    color:rgba(15, 84, 233, 0.945);
    font-weight:bolder;
}

#yellow {
    height: 100px;
    width: 100%;
    background-color: rgb(253, 253, 253);

}
h1{
font-size: 45px;
margin-top: 10px;
 padding-right: 20px;
color:rgba(15, 84, 233, 0.945);
display: inline-block;
float: right;
cursor: pointer;
}

.login-btn{
    width: 200px;
    height: 40px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 10px;
    border-style: none;
color:rgba(15, 84, 233, 0.904);   
 transition: all 0.5s ease-in-out;
 background-color:white ;
}
#src-btn{
    width: 80px;
    height: 40px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 900;
    border-style: none;
color:rgba(15, 84, 233, 0.904);
margin-left:10px;
background-color: white;
transition: all 0.5s ease-in-out;
}
#yellow > button:hover{ 
    opacity: 0.7;
    transform: scale(0.99) ;
    backface-visibility: hidden;
}
input{
    font-size:20px ;
    padding: 5px;
    border-style: none;
    color:black;
    font-weight: bolder;
    direction: rtl;
    display: inline-block;

    }


form{
display:flex;
text-align: center;
flex-direction: column;

}


.line{
outline: none;
border-bottom: 1PX solid black;

}

#big{
    text-align:center;
    font-weight: 900;
    font-size: 30px;
    margin: 50px;
}

label{
margin: 10px;
font-size: 20px;
}

#mizoo{
    width: 30%;
    height: 394px;
    display: inline-block;

}

#mizo{
    width: 30%;
    height: 394px;
    float: right;

}

#right1{
    margin-top: -39px;
    margin-left: -1px;


}

.all{
    margin: auto;
    width:35%;
    height: 400px;
    padding: 10px;
    border-radius:20px ;
   
}

#submit{
    font-size: 25px;
    padding: 10px;
    background-color:rgb(33, 40, 40);
    border-radius: 5px;
margin-top: 20px;
border: none;
}
#submit:hover{
    transform: scale(0.99);
transition: all 0.5s ease-in-out;

}

#src-bton{
    width: 550px;
    font-size:20px ;
    padding: 8px;
    border-style: none;
    color:black;
    font-weight: bolder;
    direction: rtl;
    display: inline-block;
}

a{
    text-decoration: none;
    color:rgba(15, 84, 233, 0.904);
}
